

.text {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.heading {
    color: #171717;
    text-align: center;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.56px;
}

.regular {
    color: #1717z17;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}